////////////////////////
// Style File
//
// This file gets turned into style.css. This file should really hold nothing except for imports of your base, style guide, layout, and design partials.
////////////////////////

////////////////////////
// Import Compass
////////////////////////
//Optional, see docs for compatible GUIS

//////////////////////////
// Import Externals
////////////////////////
//@import 'partials/libraries/libraries';

//////////////////////////
// Import Externals Development
////////////////////////
@import 'partials/development/libraries';

//////////////////////////
// Base Import
////////////////////////
@import 'partials/global/base';

////////////////////////
// Import Style Guide
////////////////////////
@import 'partials/styleguide/style-guide';

////////////////////////
// Import Layout
////////////////////////
@import 'partials/layout/layout';

////////////////////////
// Import Design
////////////////////////
@import 'partials/design/design';
